.card_wrap {
    height: 100vh;
    position: relative;
    background-color: #1e1e1e;
}

.card_container {
    height: 600px;
    width: 90%;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    background-color: #2a2a2a;
    border-radius: 30px;
    box-shadow:
        0 0 5px 1px #f9f2e0,
        0 0 15px 25px hsla(43, 59%, 80%, 0.2),
        0 0 30px 50px hsla(43, 59%, 65%, 0.15);
}

.card_input {
    padding: 60px 50px;
    background-color: #242424;
    border-radius: 30px 0 0 30px;
    position: relative;
}

.main_text {
    margin: 0 0 20px 0;
    color: #dbbd72;
}

.input_label {
    width: 100%;
    margin: 0 0 5px 0;
    display: block;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.input_field {
    padding: 0 0 0 20px;
    margin: 0 0 10px 0;
    height: 40px;
    width: 100%;
    background-color: #131313;
    border: 1px solid #dbbd72;
    border-radius: 10px;
}

.input_field:last-of-type {
    margin: 0;
}

.forgot_password {
    margin: 10px 0;
    display: block;
    color: #dbbd72;
    text-decoration: none;
    font-size: 12px;
}

.submit_button {
    background-color: #dbbd72;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}

.or_line {
    margin: 20px 0;
    display: flex;
    align-items: center;
    color: #dbbd72;
    font-size: 0.875rem;
    gap: 0.5rem;
    font-size: 12px;
}

.or_line::before,
.or_line::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #f5f5f5;
}

.content_text {
    color: #aaaaaa;
    font-size: 14px;
}

.button_card {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 100%;
    background-color: #dbbd72;
    border-radius: 0 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_container {
    width: 70%;
    height: 50px;
    background-color: #131313;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 15px;
}

.button {
    background-color: #2a2a2a;
}

.button:nth-child(1) {
    border-radius: 15px 0 0 15px;
}

.button:nth-child(2) {
    border-radius: 0 15px 15px 0;
}

.button.active {
    background-color: #f5f5f5;
    border-radius: 15px;
    color: black;
}

.main_image {
    width: 100%;
    height: 100%;
    background-size: cover;
}